<template>
  <Page>
    <SearchSidebar />
    <!-- Content -->
    <div class="content">
      <!--      <DonateBanner />-->
      <slot />
    </div>
  </Page>
</template>

<script>
import Page from "~/layouts/Page.vue";

import SearchSidebar from "~/components/devices/SearchSidebar.vue";

//import DonateBanner from "~/components/DonateBanner.vue";

export default {
  components: {
    Page,
    SearchSidebar
    //    DonateBanner
  }
};
</script>
